.new-expense {
    background-color: #84A98C;
    padding: 1rem;
    width: 25rem;
}

.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #52796F;
    border-radius: 12px;
    margin-right: 1rem;
}

.new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: #ddb3f8;
}

.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control label {
    font-weight: bold;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.input {
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
}

.new-expense__actions {
    text-align: right;
}

.save-btn {
    color: white;
    background-color: #2F3E46;
}

.cancel-btn {
    background-color: #CAD2C5;
}
