.new-expense {
    background-color: #84A98C;
    padding: 1rem;
    width: 25rem;
}

.new-expense button {
    font: inherit;
}

.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control {
    width: 100%;
}

.new-expense__control label {
    font-weight: bold;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    max-width: 100%;
    background-color: white;
}

.input {
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
}

.new-expense__actions {
    display: flex;
    justify-content: space-between;
}

.save-btn {
    background-color: #2F3E46 !important;
}

.cancel-btn {
    color: black !important;
    background-color: #CAD2C5 !important;
}
